{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World! Batman has arrived</h1>
</body>
</html> --}}
{{!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World!</h1>
    <img src="red.jpg" style="height:800px; width:800px"/>
</body>
</html> --}}
{{!-- {{#extends 'base'}}

{{#block "content"}}
    <h1>Hello World!</h1>
    <img src="red.jpg"/>
{{/block}}

{{/extends}} --}}




{